$common-color: #81bce5;

@mixin block-color($color: $common-color) {
  color: $color;
}

@mixin border-parameter() {
  border: 3px solid  $common-color;
}

body {
  text-align: center;

  .blue-shirt .color {
    @include block-color;
  }

  .pink-shirt .color {
    @include block-color(#d583ac);
  }

  .yellow-shirt .color {
    @include block-color(#deb17e);
  }
}

ul {
  list-style: none;
  padding: 0;
}

.container-main {
  color:  #{$common-color};
  font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 15px;
  width: 20%
}

.main-block {
  @include border-parameter;
  position: relative;
  overflow: hidden;

  .shirt {
    margin: 20px auto;
    width: 90%;
  }

  div.rotate-arrow:hover {
    background: $common-color;
    color: white;
  }

  .rotate-arrow {
    border-left: 3px solid  $common-color;
    border-bottom: 3px solid  $common-color;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }

  ul.icon-buttons li:hover {
    background: $common-color;
    color: white;
  }

  .icon-buttons {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .icon-buttons > li {
    width: 20%;
    height: 60px;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-top: 3px solid  $common-color;
    border-right: 3px solid  $common-color;
  }

  li.shopping-cart {
    border-right: 0;
  }

  .toggles > .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .toggles:hover .hidden{
    opacity: 1;
    transition: all .5s ease .2s;
    transform: translateY(0px);
  }

  .toggles {
    overflow: visible;
  }

  .colors {
    display: inline-block;
    vertical-align: top;
  }

  .color-boxes {
    padding: 15px;
  }

  .pink {
    color: #d583ac;
    margin-left: 5px;
  }

  .yellow {
    color: #deb17e;
    margin-top: 5px;
  }

  .green {
    color: #8bb992;
    margin: 5px 0 0 5px;
  }
}

.hidden {
  overflow: hidden;
  opacity: 0;
  transition: all .4s ease;
  background: white;
  position: absolute;
  bottom: 100%;
  width: 95px;
  left: -9px;
  padding: 0;
  @include border-parameter;
  color: #{$common-color};
  transform: translateY(-40px);

  .shirt-sizes {
    padding: 15px 0;

    .sizes {
      float: none;
      text-align: center;
      background-image: url(http://www.iconarchive.com/download/i97169/iconsmind/outline/T-Shirt.ico);
      height: 30px;
      line-height: 30px;
      background-position: center;
      background-repeat: no-repeat;

      &.xl {
        background-size: auto 100%;
        font-size: .7em;
      }

      &.l {
        background-size: auto 90%;
        font-size: .65em;
      }

      &.m {
        background-size: auto 80%;
        font-size: .6em;
      }

      &.s {
        background-size: auto 70%;
        font-size: .55em;
      }

    }
  }
}

footer {
  font-size: 30px;

  .product-name {
    float: left;
    padding: 15px 5px 0 0;
  }

  .price  {
    font-weight: bold;
    float: right;
    padding: 15px 0 0 5px;
  }
}
